var cql = require('../cql/{{resource}}-cql.json');

var {{resource}} = {};

{{resource}}.prototype.save = function({{resource}}_attrs, done){
}

{{resource}}.prototype.update = function({{resource}}_id, {{resource}}_attrs, done){
}

{{resource}}.prototype.find = function({{resource}}_id, done){
}

{{resource}}.prototype.findAll = function(query, done){
}

{{resource}}.prototype.destroy = function({{resource}}_id, done){
}

module.exports = {{resource}};
